body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.829);
  z-index: -1;
}

.fixed-title {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Wondrous', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  z-index: 99;
  color: rgb(255, 121, 199);
  background-color: black;
}

.love-page {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin: 0;
}

section {
  padding: 32px 15px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
}

.together-time h2,
.carousel-center h2,
.timeline-love h2 {
  color: lightpink;
  font-size: 3rem;
  font-family: 'Wondrous', sans-serif;
  font-style: italic;
}

.together-time h3,
.carousel-center h3 {
  margin: -65px 0 25px 0;
  color: white;
}

.timeline-love h3 {
  margin: -65px 0 -30px 0;
}

.together-time small {
  margin: -40px 0 0 0;
  font-size: 1.4rem;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: white;
}

.carousel-center h4 {
  margin: -40px 0 -22px 0;
  color: white;
  font-size: 1.2rem;
}

.carousel-center small {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 1.4rem;
  color: white;
}

#love-counter {
  font-size: 1.1rem;
  color: #8753f8;
  line-height: 1.6;
}

#love-counter p:first-child {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Wondrous', sans-serif;
  font-style: italic;
  color: #8753f8;
  margin: -10px 0 0 0;
}

#love-counter p:nth-child(3) {
  font-weight: bold;
  font-size: 1.5rem;
  color: #8753f8;
  margin: -21px 0 -19px 0;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

#love-counter p:nth-child(2), p:nth-child(4) {
  margin: -5px 0 0 0;
  font-size: 1.5rem;
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: #8753f8;
}

#love-counter p:nth-child(5) {
  font-size: 1rem;
  color: #8753f8;
  margin: -12px 0 0 0;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.carousel-wrapper {
  perspective: 1200px; /* Essencial para efeito 3D */
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: rgb(255, 166, 185) rgba(0, 0, 0, 0);
  width: 100%;
  padding: 20px 0;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.carousel-track {
  display: flex;
  gap: 0;
  padding: 0 32px;
  transform-style: preserve-3d;
}

.carousel-track img,
.carousel-track video {
  width: 180px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
  flex-shrink: 0;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transform: rotateY(30deg);
}

.carousel-track img:hover,
.carousel-track video:hover {
  transform: scale(1.1) rotateY(0deg);
  z-index: 10;
}

.timeline {
  position: relative;
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 9px;
  width: 2px;
  height: 100%;
  background: #eaeaea;
}

.timeline li {
  position: relative;
  margin: 20px 0;
  padding-left: 20px;
}

.timeline .marker {
  position: absolute;
  left: 0;
  top: 0.3em;
  width: 16px;
  height: 16px;
  background: #e91e63;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 1;
}

.timeline .content {
  color: #bebebf;
  font-size: 1rem;
  line-height: 1.6;
}

.modal {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  z-index: 9999;
}

.modal img {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
}

.modal p {
  color: white;
  margin-top: 8px;
  text-align: center;
}

.modal-prev,
.modal-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ff9aaa;
  border: none;
  font-size: 2rem;
  color: white;
  padding: 10px 16px;
  cursor: pointer;
}

.modal-prev:hover,
.modal-next:hover {
  background: #ff506d;
}

.modal-prev {
  left: 20px;
}

.modal-next {
  right: 20px;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 24px;
  font-size: 2rem;
  color: #ff9aaa;
  cursor: pointer;
}

.music-player {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 999;
  background-color: #1e1e1e00;
  padding: 8px 12px;
  border-radius: 12px;
}

.music-player audio {
  width: 100px;
}

@media (min-width: 533px) and (max-width: 1105px ) {
  .love-page {
    display: flex;
    flex-direction: column;
    gap: 32px; /* espaço entre os blocos */
    padding: 16px;
  }

  .love-page > section {
    align-items: center;
  }

  .together-time,
  .carousel-center,
  .timeline-love {
    width: 100%;
    text-align: center;
  }

  .music-player {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 999;
    background-color: #1e1e1e00;
    padding: 8px 12px;
    border-radius: 12px;
  }
}

@media (max-width: 532px) {
  .love-page {
    display: flex;
    flex-direction: column;
    gap: 32px; /* espaço entre os blocos */
    padding: 16px;
  }

  .love-page > section {
    align-items: center;
  }

  .together-time,
  .carousel-center,
  .timeline-love {
    width: 100%;
    text-align: center;
  }

  .music-player {
    position: fixed;
    top: 145px;
    right: 0;
    z-index: 999;
    background-color: #1e1e1e00;
    padding: 8px 12px;
    border-radius: 12px;
  }  

  .music-player audio {
    width: 90px;
    height: 20px;
  }
}

.together-time h2 {
  margin: 120px 0 40px 0;
}

.entrance-screen {
  position: fixed;
  width: 100%;
  inset: 0;
  background-color: #121215;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  transition: opacity 0.6s ease-in-out;
}

.entrance-screen.hidden {
  opacity: 0;
  pointer-events: none;
}

.entrance-content h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 24px;
  font-family: 'Wondrous', sans-serif;
  line-height: 1.5;
}

.entrance-content h4 {
  text-align: center;
  margin-top: 24px;
  font-family: 'Wondrous', sans-serif;
}

.entrance-content button {
  padding: 20px 24px;
  font-size: 1.2rem;
  background-color: #633bbc;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center;
}

.entrance-content button:hover {
  background-color: #814fd7;
}

.watermark {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.3);
  z-index: 9999;
  pointer-events: none; /* evita que clique interfira */
  user-select: none;    /* impede seleção com mouse */
  font-style: italic;
}